<!DOCTYPE html>
<html>
    <head>
        <title>Index</title>
        <% include partial/cdn-includes.ejs %>
    </head>
    <body>
        <i class="fa fa-cog fa-spin" style="font-size:24px"></i>
    </body>
</html>