<!DOCTYPE html>
<html>
    <head>
        <title>Private Chat</title>
        <% include partial/cdn-includes.ejs %>
        <script>
            var username = '<%= (username) ? username : `` %>';
            if(!username) window.location.replace('/login');
            var amTyping = false;
            $(function(){
                var socket = io.connect(window.location.origin + '/messenger', {query : 'username=' + username });

                var message = $('#message');
                var to = $('#username-to');
                var send_message = $('#send_message');
                var send_username = $('#send_username');
                var chatroom = $('#chatroom');
                var user_to;
                
                // Chat history
                to.on('change', function() {
                    if(to.find(':selected').text() != null){
                        socket.emit('req_chat_history', {to: to.find(':selected').text()});    
                        user_to = to.find(':selected').text();
                    }
                });

                socket.on('chat_history', function(data){
                    chatroom.html('');
                    if(username<user_to)
                    {
                        data.messages.reverse().forEach(element => {
                            if(element.from == 0) chatroom.append('<p class="message"> Me : ' + element.msg + '</p>');        
                            else chatroom.append('<p class="message">' + user_to + ' : ' + element.msg + '</p>');
                        });
                    }
                    else {
                        data.messages.reverse().forEach(element => {
                            if(element.from == 1) chatroom.append('<p class="message"> Me : ' + element.msg + '</p>');        
                            else chatroom.append('<p class="message">' + user_to + ' : ' + element.msg + '</p>');
                        });
                    }
                });
                
                // Send messages
                send_message.click(function() {
                    socket.emit('new_message', { to: to.find(':selected').text(), message : message.val()});
                    chatroom.append('<p class="message"> Me : ' + message.val() + '</p>');
                    message.val('');
                });

                message.on('keypress', function(e) {
                    if (e.keyCode == 13) {
                        socket.emit('new_message', { to: to.find(':selected').text(), message : message.val()});
                        chatroom.append('<p class="message"> Me : ' + message.val() + '</p>');
                        message.val('');
                        message.trigger('input_event');
                        return false;
                    }
                });
                
                // Receive messages
                socket.on('new_message', function(data) {
                    if(to.find(':selected').text()==data.from)
                        chatroom.append('<p class="message">' + data.from + ' : ' + data.message + '</p>');
                });
                
                // Is typing... events
                message.blur(function(){
                    amTyping = false;
                    socket.emit('user_not_typing', {to: to.find(':selected').text()});
                });

                message.on('input_event', function(){
                    if(amTyping==false && message.val().length > 0) {
                        amTyping = true;
                        socket.emit('user_typing', {to: to.find(':selected').text()});
                    }
                    else if(amTyping==true && message.val().length === 0) {
                        amTyping = false;
                        socket.emit('user_not_typing', {to: to.find(':selected').text()});
                    }
                });

                socket.on('get_user_typing', function(data){
                    $('#typing').html('<i>' + data.from + ' is typing...</i>');
                });

                socket.on('get_user_not_typing', function(data){
                    $('#typing').html('');
                });
                
                // Online friends
                socket.on('friends_update', function(data){
                    var arr = $.grep(data.users, function(value){return value!=username;});
                    to.html('');
                    $.each(arr, function(index, value){
                        to.append($('<option></option>').val(index).html(value));
                    });
                    to.trigger('change');
                });
                
                //recent chats
                socket.on('recent_chats_res', function(data){
                    $.each(data.message , function(index, value){
                        var result = value.id.split(':');
                        console.log(result);
                    });
                });

                socket.emit('recent_chats');

            });
            function fireInput(){
                $('#message').trigger('input_event');
            }
            function userChange(){
                amTyping = false;
            }
        </script>
    </head>
    <body>
        <div style="width: 100%;position: absolute; top:0px; left: 0px;">
            <select id="username-to"></select>
            <br>
            <input id="message" placeholder="message" maxlength="200" oninput="fireInput()"><button id="send_message">Send</button>
        </div>
        <div id="typing" style="width: 100%; height: 60px; position: absolute; top:100px; left: 0px;"></div>
        <div id="chatroom" style="width: 100%;position: absolute; top:160px; left: 0px;">
        </div>
    </body>
</html>